<h2 class="content-block">Clients</h2>

<div class="content-block dx-card responsive-paddings">
    <dx-data-grid
        id="grid"
        [dataSource]="dataSource"
        [repaintChangesOnly]="true"
        (onRowUpdating)="onRowUpdating($event)"
        [showBorders]="true">

        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing
            mode="cell"
            [allowAdding]="true"
            [allowUpdating]="true"
            [allowDeleting]="true">
        </dxo-editing>

        <dxi-column dataField="id" caption="Id" [visible]="false">

        </dxi-column>
        <dxi-column dataField="salutation" dataType="String">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="fullName" dataType="String">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="preferredName" dataType="String">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="emailAddress" dataType="Email">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="preferredDoctorId" caption="Preferred doctor">
            <dxo-lookup [dataSource]="doctorData" valueExpr="id" displayExpr="name"></dxo-lookup>
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
        <div *dxTemplate="let client of 'detail'">
            <div class="master-detail-caption">Patients</div>
            <app-client-detail-grid [key]="client.key"></app-client-detail-grid>
        </div>
    </dx-data-grid>
</div>

